@import "fonts.scss";
@import "nullstyle.scss";
@import "vars.scss";
@import "blocks.scss";

body {

    &_lock {
        overflow: hidden;

    }
}

.header {
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 7px 18px 0 #00000009;
    width: 100%;
}

.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    margin: 8px 0;

    img {
        max-width: 100%;
    }
}

.header__menu {}

.header__list {
    display: flex;

}

.header__list-item {
    margin: 0 33px 0 0;

    &:nth-child(4) {
        margin: 0;
    }
}

.header-list-item {
    display: flex;
    align-items: center;
    transition: all 0.2s ease-out 0s;
    font-size: 16px;

    a {
        color: $black;
        line-height: 24px;
        font-weight: 500;
    }

    &:hover {

        background-image: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
}

.header__btn {
    margin: 0 0 0 159px;

    &:hover {
        box-shadow: 0px 0px 5px 0px $black ;
    }
}

@media (max-width: 1108px) {
    .header__btn {
        margin: 0 0 0 59px;
    }
}

@media (max-width: 1008px) {
    .header__btn {
        margin: 0 0 0 29px;
    }
}

@media (max-width:990px) {
    .header__btn {
        padding: 14px 0px 14px 0px;
        width: 155px;
    }
}

.header__button {
    display: none;
}

@media (max-width:992px) {

    .header__button {
        display: block;
        position: relative;
        width: 34px;
        height: 24px;
        margin: 0 0 0 15px;
        cursor: pointer;

        &::before,
        &::after,
        span {
            position: absolute;
            left: 0;
            transition: all 0.3s ease-out 0s;
            width: 100%;
            height: 10%;
            background-color: $black;
        }

        &::before,
        &::after {
            content: '';
        }

        &::before {
            top: 0;

        }

        &::after {
            bottom: 0;

        }

        span {
            top: 45%;
            transform: scale(1), translate(0px, -50%);
        }

        &._active {
            span {
                width: 0;
                background-color: $white;
            }

            &::before {
                top: 50%;
                background-color: $white;
                transform: rotate(-45deg) translate(0px, -50%)
            }

            &::after {
                background-color: $white;
                bottom: 50%;
                transform: rotate(45deg) translate(0px, 50%)
            }
        }

    }

    .header__menu {
        overflow: auto;
        position: fixed;
        top: 0;
        left: -300%;
        transition: left 0.3s ease-out 0s;

        &._active {
            left: 0;

            .header-list-item a {
                color: $white;
            }

            .header__btn {
                margin: 0 0 0 0;
            }


            width: 100%;
            padding: 100px 30px 30px 30px;
            background-color: $black;
            height: 100%;

            .header__list {
                display: flex;
                flex-direction: column;
                align-items: center;

                li {
                    font-size: 24px;
                }

                li:not(:last-child) {
                    margin: 0px 0px 40px 0px;

                }

            }
        }
    }

}

//---------------------------------------------------------------------------------------------

.welcome {
    padding: 252px 0 0 0;
    background-color: #F7F6FF;

    &__container {}

    &__top-block {}

    &__numbers {}
}

@media (max-width:1120px) {
    .welcome {
        padding: 152px 0 0 0;
    }

}

.top-block {


    &__row {
        display: flex;
        justify-content: space-between;

    }



    &__body {
        display: flex;
        flex-direction: column;
    }

    &__title {
        p {
            font-weight: 800;
            font-size: 45px;
            line-height: 65px;

        }

        font-size: 55px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 65px;
    }

    &__subtitle {
        font-size: 16px;
        line-height: 24px;
        color: $black;
        font-weight: 600;
        margin: 14px 0 29px 0;
    }

    &__item-body {
        display: inline-flex;
        flex-wrap: wrap;
    }

    &__item {}

    &__img {}

    @media (max-width:1120px) {
        .top-block__img {
            display: none;
        }

    }

}



.top-block-item {
    background-color: #77B2D3;
    padding: 14px 30px;
    border-radius: 250px;
    color: $white;
    text-align: center;

    font-weight: 600;
    font-size: 16px;
    line-height: 26px;

    &-2 {
        padding: 14px 13px 14px 23px;
        margin: 0 10px;
    }

    &-3 {
        padding: 14px 41px 14px 41px;
    }
}

@media (max-width:544px) {
    .top-block-item {
        flex: 0 1 100%;
        margin: 0px 0px 10px 0px;
    }
}

.welcome-numbers {
    box-shadow: 0 4px 18px 0 rgba($color: #000000, $alpha: 0.08);
    padding: 40px 71px 56px 53px;
    background-color: $white;
    border-radius: 20px;
    margin: 90px 0px 0px 0px;

    &__title {
        margin: 0 0 33px 0;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    &__column {
        display: flex;
        justify-content: center;
        padding: 0px 0px 40px 0px;

        &:nth-child(1) {
            justify-content: start;
        }

        flex: 0 1 25%;

        position: relative;
    }



    &__item {}
}

@media (max-width:1048px) {
    .welcome-numbers__column {
        flex: 0 1 50%;
        justify-content: start;
    }
}

@media (max-width:544px) {
    .welcome-numbers__column {
        flex: 0 1 100%;
        justify-content: center;

        &:nth-child(1) {
            justify-content: center;
        }
    }
}

.welcome-numbers-item {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;

    &__title {
        font-size: 40px;
        line-height: 48px;
        background-image: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        font-weight: 800;
        margin: 0 0 3px 0;
        text-align: center;
        flex: 1 1 auto;
    }

    &__subtitle {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        text-align: center;
        color: $black;
    }

    &-1 {}



    &-2 {

        align-items: center;


        .welcome-numbers-item__title {
            font-size: 30px;

            span {
                font-size: 50px;
            }
        }
    }

    &-3,
    &-4 {


        .welcome-numbers-item__title {
            font-size: 50px;
        }
    }

    &-3 {
        align-items: end;
    }

}


//__________________________________________________________________________________________

.services {
    background-color: #F7F6FF;
    padding: 76px 0 0 0;

    &__title {
        margin: 0 0 41px 0;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -9px;
    }

    &__column {
        flex: 0 1 20%;

        &:not(:last-child) {
            margin: 0 0 18px 0;
        }

        padding: 0 9px;
    }

    &__item {}
}

.services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    ;

    &__body {
        flex: 1 1 auto;

        box-shadow: 0px 4px 18px 0 rgba($color: #000000, $alpha: 0.08);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0 0 15px 15px;
        height: 100%;
        background-color: $white;
        width: 100%;
    }

    &__title {
        padding: 24px 88px;
        font-size: 18px;
        line-height: 26px;
        background-color: #77B2D3;
        width: 100%;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        border-radius: 15px 15px 0 0;
        flex: 1 1 auto;
        color: $white;
    }

    &__list {
        min-height: 266px;
        margin: 18px 0px 0px 0px;
        border-bottom: 1px solid #E2E2E2;
    }

    &__list-item {
        padding: 0 0 0 23.25px;
        position: relative;
        font-size: 16px;
        line-height: 24px;
        color: $black;
        font-weight: 400;

        &:not(:last-child) {
            margin: 0 0 11px 0;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 20%;
            width: 16.5px;
            height: 16.5px;
            background: url('../img/services/01.svg') 0 0/cover no-repeat;
        }
    }

    &__price {
        margin: 11px 0;
        font-size: 16px;
        line-height: 24px;
        color: $black;

        &-sub {
            font-size: 30px;
            line-height: 44px;
            display: inline-block;
            background-image: $gradient;
            -webkit-background-clip: text;
            font-weight: 800;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }
    }

    &__btn {
        margin: 21px 0 0 0;
        padding: 14px 53px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;
        cursor: pointer;
        border-radius: 9px;
        text-align: center;
        transition: all 0.2s ease-out 0s;
        color: $white;
        background-image: $gradient;

        &:hover {
            box-shadow: 0px 0px 5px 0px $black ;
        }
    }
}


//-------------------------------------------------------------------------------------------

.contact-form {
    background-color: #F7F6FF;
    padding: 72px 0 0 0;


    &__container {}

    &__body {}

    &__title {}

    &__form {}

    &__img img {
        border-radius: 20px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media (max-width:1190px) {

    .contact-form__img {
        display: none;
    }
}

.contact-form-form {
    &__body {
        display: flex;

    }

    &__title {
        margin: 22px 0px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
    }

    &__name {
        border-radius: 7px;
        width: 270px;
        height: 59px;
        background-color: $white;
        margin: 0 30px 20px 0;
        box-shadow: 0 4px 18px 0 rgba($color: #000000, $alpha: 0.08);
        padding: 16px 0px 16px 19px;

    }

    &__text {
        border-radius: 7px;
        background-color: $white;
        display: block;
        padding: 16px 0px 0px 19px;
        width: 570px;
        height: 141px;
        box-shadow: 0 4px 18px 0 rgba($color: #000000, $alpha: 0.08);
    }

    &__pp {
        font-size: 16px;
        line-height: 26px;
        display: flex;
        font-weight: 300;
        align-items: center;
        margin: 24px 0px 21px 0px;

        input {
            box-shadow: 0 4px 18px 0 rgba($color: #000000, $alpha: 0.08);
            width: 32px;
            height: 32px;
            background-color: $white;
            border: none;
            margin: 0px 12px 0px 0px;
            border-radius: 2px;

        }
    }

    &__btn {
        padding: 14px 55px;
    }

    &__tel {
        border-radius: 7px;
        background-color: $white;
        width: 270px;
        height: 59px;
        padding: 16px 0px 16px 19px;
        box-shadow: 0 4px 18px 0 rgba($color: #000000, $alpha: 0.08);
    }

    &__name,
    &__text,
    &__tel {
        &::placeholder {
            font-size: 16px;
            color: $black;
            font-weight: 300;
        }
    }
}

@media (max-width:606px) {

    .contact-form-form__name,
    .contact-form-form__tel {
        width: 170px;
    }

    .contact-form-form__text {
        width: 370px;
    }

    .contact-form-form__btn {
        margin: 0 auto;
    }

    .contact-form-form__body {}
}

@media (max-width:400px) {

    .contact-form-form__name,
    .contact-form-form__tel {
        width: 110px;
    }

    .contact-form-form__text {
        width: 250px;
    }

    .contact-form-form__btn {
        margin: 0 auto;
    }

    .contact-form-form__body {}

}

//------------------------------------------------------------------------------------

.projects {
    padding: 112px 0px 0px 0px;
    background-color: #F7F6FF;

    &__container {}

    &__title {}

    &__swiper {}

    &__slide {}
}

.swiper {
    margin: 41px 0px 0px 0px;
}

.swiper-wrapper {}

.swiper-slide {}

.projects-slide {
    padding: 9px 0px 25px 0px;
    border-radius: 15px;
    margin: 0 auto;
    background-color: $white;
    max-width: 570px;
    display: flex;
    flex-direction: column;

    &__row-body {
        padding: 21px 34px 25px 28px;
        width: 100%;
        background-color: #F3F1FE;
    }

    &__img {
        padding: 0px 0px 0px 23px;
    }

    &__text {
        color: $black;
        font-size: 16px;
        padding: 0px 34px 0px 28px;
        line-height: 26px;
        margin: 4px 0px 28px 0px;
    }

    &__results-row {
        display: flex;
        justify-content: space-between;
        margin: 0 -17px;
    }

    &__results-title {
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        font-weight: 800;
        color: $black;
    }

    &__column {
        margin: 10px 0px 0px 0px;
        padding: 0 17px;
    }

    &__item {}

    &__body {
        padding: 0px 0px 0px 28px;

        img {
            display: inline-block;
            margin: 0px 0px 10px 0px;
        }
    }

    &__systems-title {
        font-size: 18px;
        line-height: 26px;
        font-weight: 800;
        margin: 24px 0px 13px 0px;
        text-transform: uppercase;
        color: $black;
    }
}

.projects-slide-item {
    & &__number {
        font-size: 18px;
        line-height: 26px;
        font-weight: 800;
        color: $black;
    }

    &__text {
        font-size: 16px;
        line-height: 26px;
        color: $black;
    }
}

@media (max-width:440px) {
    .projects-slide__results-row {
        flex-wrap: wrap;
    }
}

.swiper-button-prev {}

.swiper-button-next {}

//---------------------------------------------------------------------------------------------

.footer {

    &__top {
        padding: 52px 0px 60px 0px;

    }

    &__container {}

    &__top-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -10px;

    }


    &__left-column {
        display: flex;
        align-items: start;
        flex-direction: column;
    }

    &__img {
        display: block;
    }

    &__pp {
        font-size: 16px;
        line-height: 24px;

        display: block;
        color: $black;
        text-decoration: underline;
        margin: 5px 0px 22px 0px;
    }

    &__btn {
        cursor: pointer;
        padding: 14px 38px 14px 42px;
        margin: 0 0 20px 0;

        &:hover {
            box-shadow: 0px 0px 5px 0px $black ;
        }
    }

    &__column {
        padding: 12px 0 0 0;
        padding: 0 10px;
    }

    &__item {}

    &__title {
        font-size: 16px;
        line-height: 36px;
        color: $black;
        text-transform: uppercase;
        font-weight: 600;
        margin: 0px 0px 13px 0px;
    }

    &__list {}

    &__list-item {
        transition: all 0.2s ease-out 0s;

        a {
            color: inherit;

        }

        &:hover {
            background-image: $gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }


        font-size: 16px;
        line-height: 36px;
        color: $black;
        font-weight: 400;


        &:not(:last-child) {
            margin: 0px 0px 0px 0px;
        }
    }

    &__bottom {
        background-color: #2D2D2D;
        text-align: center;
        font-size: 14px;
        line-height: 41px;
        color: $white;
    }
}